<div class="top-wrapper">
  <div class="container">
    <h1>シチズンスケートリンクの存続を願う会</h1>
    <div class="main-message">
      去る2020年2月2日、シチズンプラザが2021年1月31日を持って閉館されることが通知されました。
      <br>
      シチズンプラザは昭和45年に設立され、長年にわたり地域の重要なスポーツ・交流活動拠点としての役割を果たしてきました。
      <br>
      現在、シチズンクラブには、所属クラブ生役200名、フィギュアスケートスクール生役600名が所属しており、それぞれが目標を持って日々努力を続けております。
      <br>
      リンクが閉鎖されてしまうと、これらの多くの選手、愛好家の練習場所、活動場所が失われてしまうことになります。
      <br>
      <br>
      現シチズンプラザには建物の老朽化、耐震性の問題等、様々な問題が山積しております。
      <br>
      <br>
      しかしながら、本会および関係者様の強い思いと英知を持って、スケート選手の練習の場、地域の人々のスポーツ・交流のばであるスケートリンクを存続する形での
      再開発を模索し、未来のオリンピック選手を目指す子供達の夢や、東京都民の絆を未来につないでいけるよう願います。
    </div>
  </div>
</div>
<div class="message-wrapper">
  <div class="container">
    <div class="heading">
      <h1>お知らせ</h1>
    </div>
  <div class="infomation">
    <h3>2020/2/9: シチズンスケートリンクの存続を願う会を発足いたしました</h3>
  </div>
  </div>
</div>
