/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: "ヒラギノ角ゴ Pro W3";
 }
 header {
   height: 65px;
   width: 100%;
   background-color: rgba(254, 249, 251, 0.8);
   /* positionプロパティをfixedに、topを0に指定してください */
   position: fixed;
   top:0;

   /* z-indexを10に指定してください */
   z-index: 10;
 }
 .container {
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
 }
 .header-left {
  float: left;
}
.header-left h1{
  color: black;
  line-height: 10px;
  font-size: 40px;
}
.header-right {
  float: right;
}
.header-right h2{
  font-size: 20px;
  line-height: 0px;
  padding-right: 40px;
}
.counter img{
  height: 30px;
  width: 90px;
}
footer{
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  margin-top:30px;
}
footer h4{
  color: white;
  padding-top: 20px;
}

/*スマホ向けcss*/

@media (max-width: 1000px) {
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(254, 249, 251, 0.8);
    /* positionプロパティをfixedに、topを0に指定してください */
    position: fixed;
    top:0;

    /* z-indexを10に指定してください */
    z-index: 10;
  }
  .header-left h1{
    color: black;
    line-height: 20px;
    font-size: 40px;
  }
  .header-right h2{
    font-size: 20px;
    line-height: 0px;
    padding-right: 40px;
  }
  footer h4{
    color: white;
    font-size: 30px;
  }
}
